<div class="graficoPizza">
  <svg class="chart" viewBox="0 0 32 32" width="300" height="300">
    <circle r="16" cx="16" cy="16" fill="white" />
    <g class="slices">
      <!-- Renderizando as fatias -->
      <path
        *ngFor="let slice of pieData"
        [attr.d]="slice.path"
        [attr.fill]="slice.color"
      ></path>
      <!-- Renderizando as porcentagens -->
      <text
        *ngFor="let slice of pieData"
        [attr.x]="slice.textPosition?.x"
        [attr.y]="slice.textPosition?.y"
        text-anchor="middle"
        alignment-baseline="middle"
        font-size="3px"
        font-weight="700"
        fill="white"
      >
        {{ slice.percentage }}
      </text>
    </g>
  </svg>
</div>
